venv/
env/
envs/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.python-version
.idea/
*.db
*.sqlite3
test_*.db
.sqlite3
.env
.env_dev
.env.test
*.log
*.pyc
.pytest_cache/
.coverage
htmlcov/
.cache/
.uvicorn/